@use "./variables";


.button {
  background: none;
  display: inline-block;
  color: variables.$primary;
  border: 1px solid variables.$primary;
  border-radius: variables.$border-radius;
  transition: all 0.5s ease-out;

  &:hover {
    transform: scale(1.05);
  }
}

.dark-mode {
  .button {
    color: variables.$grey-lighter-1;
    border: 1px solid variables.$grey-lighter-1;
  }
}
