@use "./variables";
@use "./header";
@use "./button";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

body {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
}

.main-container {
  color: variables.$grey-darker-2;
  background-color: variables.$grey-lighter-1;
  transition: background-color 0.5s ease;
  height: 100vh;
}

i {
  font-size: 2rem;
  color: variables.$grey-darker-2;
  transition: all 0.5s ease;
  display: block;

  &:hover {
    transform: scale(1.1);
  }
}

.shadow {
  box-shadow: 0px 0px 10px 0px variables.$grey-darker-2;
}

.logo {
  fill: variables.$grey-darker-2;
  transition: fill 0.5s ease;
  width: 6rem;
}

.dark-mode {
  &.main-container {
    background-color: variables.$grey-darker-2;
    color: variables.$grey-lighter-1;
  }
  .logo {
    fill: variables.$grey-lighter-1;
  }
  i {
    color: variables.$grey-lighter-1;
  }
  hr {
    border-color: variables.$grey-darker-2;
  }
}

button {
  font-size: 0.8rem;
}

@include media-breakpoint-up(md) {
  i {
    font-size: 2.5rem;
  }
  .logo {
    width: 8rem;
  }
  button {
    font-size: 1rem;
    
  }
}
