@use "./variables";
@use "./header";
@use "./button";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

body {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
}

.main-container {
  color: variables.$backgorund-dark;
  background-color: variables.$backgorund-light;
  transition: background-color 0.5s ease;
  height: 100vh;
}

i {
  font-size: 2.5rem;
  color: variables.$backgorund-dark;
  transition: all 0.5s ease;
  display: block;

  &:hover {
    transform: scale(1.1);
  }
}

.shadow {
  box-shadow: 0px 0px 10px 0px variables.$backgorund-dark;
}

.logo {
  fill: variables.$backgorund-dark;
  transition: fill 0.5s ease;
  width: 8rem;
}

.dark-mode {
  &.main-container {
    background-color: variables.$backgorund-dark;
    color: variables.$backgorund-light;
  }
  .logo {
    fill: variables.$backgorund-light;
  }
  i {
    color: variables.$backgorund-light;
  }
  hr {
    border-color: variables.$backgorund-dark;
  }
}
